body { overflow-x: hidden; }
.hide,
.hidden { display: none !important; }
.header-fixed { z-index: 999; }
.navbar .navbar-menu .navbar-items a.btn-primary { padding-top: 15px !important; }

/* Section: Map */
.section-map { position: relative; padding-bottom: 0; padding-top: 100px; margin-top: 0; }
.section-map { background-position: top; background-repeat: no-repeat; background-color: #FFFFFF; background-size: cover; }
.section-map:before { position: absolute; content: ""; height: 30%; width: 100%; z-index: 1; top: 0; }
.section-map:before { background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); }
.section-map:after { position: absolute; bottom: 0; height: 30%; width: 100%; content: ""; z-index: 1; }
.section-map:after { background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); }

.section-map .container { position: relative; z-index: 10; }

.section-map .icon-map-marker { position: absolute; display: block; width: 160px; height: 70px; z-index: 2; }
.section-map .icon-map-marker { background-color: #FFFFFF; padding: 0 10px; }
.section-map .icon-map-marker svg { fill: black; display: none; }		
.section-map .card-marker-details { position: absolute; max-width: 320px; left: 0; top: 50%; z-index: 2; }

.section-map .floating-cloud { position: absolute; z-index: 1; }
.section-map .floating-cloud img { filter: brightness(125%); }
.section-map .floating-cloud.cloud-1 { opacity: 0.9; left: 40%; top: 20%; }
.section-map .floating-cloud.cloud-1 img { height: 100px; }
.section-map .floating-cloud.cloud-2 { opacity: 0.9; left: 20%; top: 20%; }
.section-map .floating-cloud.cloud-2 img { height: 200px; }
.section-map .floating-cloud.cloud-3 { opacity: 0.9; left: 40%; top: 40%; }
.section-map .floating-cloud.cloud-3 img { height: 100px; }
.section-map .floating-cloud.cloud-4 { opacity: 0.9; left: 60%; top: 60%; }
.section-map .floating-cloud.cloud-4 img { height: 100px; }
.section-map .floating-cloud.cloud-5 { opacity: 0.9; left: 80%; top: 60%; }
.section-map .floating-cloud.cloud-5 img { height: 100px; }
.section-map .floating-cloud.cloud-6 { opacity: 0.9; left: 70%; top: 30%; }
.section-map .floating-cloud.cloud-6 img { height: 150px; }

.section-map .icon-map-marker:after { position: absolute; content: ""; }
.section-map .icon-map-marker:after { border-left: 10px solid transparent; border-right: 10px solid transparent; }
.section-map .icon-map-marker:after { width: 0; height: 0; border-top: 20px solid #222222; }

.section-map .icon-map-marker.map-project-1 { left: 43.7%; top: 25%; transform: translate(-100%, -100%); }
.section-map .icon-map-marker.map-project-2 { left: 30.5%; top: 32.5%; transform: translate(100%, -100%); background: rgba(255,255,255,0.6); backdrop-filter: saturate(180%) blur(15px); }
.section-map .icon-map-marker.map-project-1:after { bottom: -99px; right: 15px; border-top: 100px solid #222222; }
.section-map .icon-map-marker.map-project-2:after { bottom: -19px; left: 10px; border-top: 20px solid #FFFFFF; }
.section-map .icon-map-marker.map-project-2:after { border-left: 5px solid transparent; border-right: 5px solid transparent; }	

.section-map.for-mobile .icon-map-marker.map-project-1:after { bottom: -99px; right: 15px; }
.section-map.for-mobile .icon-map-marker.map-project-2:after { bottom: -19px; left: 0; }

/* Dropdown Menu */
.nav-parent { position: relative; }
.nav-parent:hover .nav-child { opacity: 1; transform: scaleY(1) translate(0, 0); top: 30px; }
.nav-child { position: absolute; left: 0; margin: 0; padding: 10px 0 0; top: 0; }
.nav-child { opacity: 0; transition: 0.3s ease all; transform: scaleY(0) translate(0, 0); }
.nav-child .nav-child-item a { min-width: 240px; display: block; width: 100%; }

.vicinity-map { margin-bottom: 0; }