/* Responsive */
@media (max-width: 1200px) {
    .section-map .icon-map-marker.map-project-2 {
        left: 24.5%;
        top: 30.5%;
    }
}

/* 320  */
@media (min-width: 320px) {	
	.for-mobile { display: block; }
	.for-screen { display: none; }

	.section-map.for-mobile .icon-map-marker.map-project-1 { left: 47%; top: 0%; }
	.section-map.for-mobile .icon-map-marker.map-project-2 { right: 59%; top: 27%; left: auto; }
	
	.home-banner-section { height: 480px; }
	.home-banner-section .container { width: 100%; }
	.home-banner-section .container .banner-heading { margin-bottom: 0; }
	.home-banner-section .container .banner-heading .banner-title { font-size: 32px; line-height: 40px; }

	.widget-reservation { bottom: -200px; width: 100%; }
	.section-introduction { margin-top: 0; padding-top: 100px; }
	
	.section-featured { position: static; bottom: 0; transform: translate(0, 0); }
	.section-featured { text-align: center; margin-top: 0; left: 0; }
	.section-featured .row { padding: 20px; }
	.section-featured:before { display: block; }
	
	.beachside-properties-img img { height: 240px; }
	
	.vicinity-map .map-area { height: 240px; background-size: cover; }
	.vicinity-map .map-area a { height: 30px; width: 70px; bottom: 20px; right: 15px; }
}

/* 480  */
@media (min-width: 480px) {
	.vicinity-map .map-area { height: 320px; }
	.vicinity-map .map-area a { height: 40px; width: 100px; bottom: 30px; right: 20px; }
}

/* 560  */
@media (min-width: 560px) {
	.vicinity-map .map-area { height: 400px; }
	.vicinity-map .map-area a { height: 50px; width: 120px; bottom: 40px; right: 15px; }
}

/* 768 */
@media (min-width: 768px) {	
	.for-mobile { display: none; }
	.for-screen { display: block; }

	.widget-reservation { bottom: 20px; }
	.section-introduction { margin-top: 0; /*padding-top: 250px;*/ }
	
	.home-banner-section { height: 100vh; }
	.home-banner-section .container .banner-heading { margin-bottom: 75px; }
	.home-banner-section .container .banner-heading .banner-title { font-size: 56px; line-height: 64px; }
	
	.section-featured { position: absolute; bottom: -150px; padding: 30px; transform: translate(-50%, 0); }
	.section-featured { text-align: left; margin-top: -100px; left: 50%; }
	.section-featured .row { padding: 30px; }
	.section-featured:before { display: none; }
	
	.beachside-properties-img img { height: 480px; }
	
	.vicinity-map .map-area { height: 480px; }
	.vicinity-map .map-area a { height: 60px; width: 140px; bottom: 50px; right: 70px; }
}

/* 960 */
@media (min-width: 960px) {	
	.vicinity-map .map-area { height: 560px; background-size: contain; }
	.vicinity-map .map-area a { height: 60px; width: 150px; bottom: 80px; right: 40px; }
}

/* 1024 */
@media (min-width: 1024px) {	
	.vicinity-map .map-area { height: 700px; }
	.vicinity-map .map-area a { height: 80px; width: 190px; bottom: 70px; right: 14%; }
}

/* 1260 */
@media (min-width: 1260px) {	
	.vicinity-map .map-area a { bottom: 70px; right: 19%; }
}

@media (max-width: 768px) {
    .section-map .icon-map-marker.map-project-2 {
        left: 16.5%;
    }
}

@media only screen and (max-width: 576px) {
    .philippine-map { width: 100%; }
}

@media only screen and (max-width: 414px) {
    .section-map .icon-map-marker.map-project-2 { left: -2.5%; }
}

@media only screen and (max-width: 411px) {
    .section-map .icon-map-marker.map-project-2 { left: -2.5%; }
}

@media only screen and (max-width: 375px) {
    .section-map .icon-map-marker.map-project-2 { left: -7.5% !important; }
}

@media only screen and (max-width: 360px) {
    .section-map .icon-map-marker.map-project-2 { left: -10.5% !important; }
}

@media only screen and (max-width: 320px) {
    .section-map .icon-map-marker.map-project-2 { left: -17.5% !important; }
}