/* List: Distance */
.list-distance { padding: 0; }
.list-distance li { position: relative; display: block; margin: 0 0 5px; line-height: 24px; }
.list-distance li span { display: inline-block; }
.list-distance li .counter { background-color: var(--mr-color-primary); color: var(--mr-color-white); text-align: center; border-radius: 50%; height: 24px; width: 24px; }
.list-distance li .barline { height: 1px; border-top: 2px dashed var(--mr-color-dark); max-width: calc(100% - 80px); }
.list-distance li .distance { font-size: 80%; font-weight: bold; letter-spacing: 1px; }
.list-distance li .distance { background-color: var(--mr-color-dark); color: var(--mr-color-white); border-radius: 5px; padding-left: 4px; padding-right: 4px; }